@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {padding-top: 90px;}

table { font-size: 10pt }

a:hover { cursor: pointer }

.footer { padding: 10px; font-size: 9pt; color: darkgray }

form { padding: 0 5%; }

.panel-heading { font-size:15pt; font-weight: bold }

/* Specific css rules applied by angular */
.ng-touched.ng-invalid { border-color: #a94442; outline-color:#a94442; }
.ng-touched.ng-valid { border-color: green; outline-color: green; }
.message { color: #a94442; }